.about{

	.cartouche{
		font-family:$font-family-head;
		font-size:$font-size-head;
		margin-top:$about-cartouche-margin-top;
		
		.first-block{
			margin-left:$header-offset-left;
		}
		.second-block{
			margin-left:$base-margin-left;
		}
	}
	
	.about-content{
	
		margin-left:$base-margin-left;
		margin-top:$about-content-margin-top;
		
		.images-column{
			width:$about-image-column-width;
			float:left;
			height:$about-image-column-height;
			overflow : hidden;
			
			img{
				border : $img-border;	
				margin-bottom: $about-img-interspace;
			}
			img:last-child{
				margin-bottom:0;	
			}
		}
		
		.text-column{
			
			width:$about-text-column-width;
			margin-left:$about-text-margin-left;
			padding-right:5px;
			height:$about-text-column-height;
			overflow:scroll;
			
			.about-title{
				text-transform: uppercase;	
			}
		}
		
		.about-title{
			margin-bottom: 24px;	
		}
		.presentation-text, .acteurs-text, .credits-text{
			margin-bottom: 48px;
		}
		
	}
	
	.indent-1{
		padding-left: $base-grid;	
		
	}
	
}
