/**
 * partials/projects
 * ---
 */
 
 .intro{
 	color:$hmsphr-green;
 	font-family: $font-family-head;
	font-size: $font-size-head;
	height:100vh;
	margin-top:$header-offset-top;
	
	.intro-block1{
		margin-left:$header-offset-left;
	}
	.intro-block2{
		margin-left:$base-margin-left;
	}
 }

.projects{
	margin: $projects-margin;
	padding-top:$projects-padding-top;/*for the #start anchor */
}

.project-item{
	margin: $project-item-margin;
	
	.cover-image{
		-webkit-filter: grayscale(100%) brightness(160%) contrast(85%);
		filter: grayscale(1) brightness(1.4) contrast(0.9); /*FFOX*/
		filter: gray; /* IE 6 - 9 */
		-webkit-transition: .03s ease-in-out;
		-moz-transition: .03s ease-in-out;
		-o-transition: .03s ease-in-out;	
	}
	.cover-image:hover{
		-webkit-filter: grayscale(0%);
		filter: grayscale(0); 
	}
	
	img{
		width:100%;
		border : $img-border;
		float:left;
	}
	
	.noise{
		background-image: url("img/noisy.png"); 	
		height: 100px;
		width: inherit;
		position: relative;
		top:3px;
		margin: 0 2.5px;
		/* to be continued */
		opacity: 0.2;
		
	}
	
	.noise:hover{
		opacity: 0.05;
	}
	
}

.legend{
	
	position:fixed;
	top:$projects-legend-top;
	left:$projects-margin-sides;
	
	font-family: $font-family-head;
	font-size: $font-size-head;
	
	pointer-events:none;
	
	z-index: 1000;
	
	.legend-line-1{
		.lgd-numbering{
			
		}
		.lgd-numbering:after{
			content: " — ";
		}
		.lgd-title{
			
		}
	}
	.legend-line-2{
		text-indent: $text-indent-base;
		.lgd-commanditaire{
			
		}
	}
	.legend-line-3{
		text-indent: $text-indent-base*2;
		.lgd-lieu{
			
		}
		.lgd-annee{
			
		}
	}
}

.numbering{
	padding-top: 6px;
}
.numbering:after{
	content:".";	
}

/* grid */
.row {
  display: flex;
  flex-flow: row wrap;
}
.row:last-child {
  margin-bottom: 0;
}
[class*="col-"] {
  padding-right: $project-item-margin-base;
  width: 100%;
}

.top-margin-1{
	margin-top:$project-item-margin-base;	
}
.top-margin-2{
	margin-top:$project-item-margin-base*2;	
}
.top-margin-3{
	margin-top:$project-item-margin-base*3;	
}
.top-margin-4{
	margin-top:$project-item-margin-base*4;	
}
.top-margin-5{
	margin-top:$project-item-margin-base*5;	
}
.top-margin-6{
	margin-top:$project-item-margin-base*6;	
}
.top-margin-7{
	margin-top:$project-item-margin-base*7;	
}
.top-margin-8{
	margin-top:$project-item-margin-base*8;	
}
.top-margin-9{
	margin-top:$project-item-margin-base*9;	
}
.top-margin-10{
	margin-top:$project-item-margin-base*10;	
}

@media all and ( min-width: 600px ) {
 
  /* set col widths */
  .col-1-2 {
    width: 50%;
  }
  .col-1-3 {
    width: 33.33%;
  }
  .col-2-3 {
    width: 66.66%;
  }
  .col-1-4 {
    width: 25%;
  }
  .col-1-8 {
   width: 12.5%;
  }
  .col-1-10 {
   width: 10%;
  }
  .col-2-10 {
   width: 20%;
  }
  .col-3-10 {
   width: 30%;
  }
  .col-4-10 {
   width: 40%;
  }
  .col-5-10 {
   width: 50%;
  }
  .col-6-10 {
   width: 60%;
  }
  .col-7-10 {
   width: 70%;
  }
  .col-8-10 {
   width: 80%;
  }
  .col-9-10 {
   width: 90%;
  }
 
}
