.post-type-archive-project{
		overflow-y:hidden; /* body */	
}


.project{
	margin:0;
	
	.legend{
		position:relative;
	}
	
	.image-column{
		height:calc(100vh - #{$project-bottom-offset});
		overflow-y:scroll;
		margin-top:$project-margin-top;
		margin-left:$base-margin-left;
		margin-right:$project-text-column-right+$project-text-column-width+$project-image-column-right-margin;
		/*max-width:6*$base-grid + 5*$base-grid-margin;*/
		text-align:center;
		
		img{
			max-width:100%;
			margin-bottom : $project-img-interspace;
			border : $img-border;
			// pour éviter que l'image sorte du viewport quant elle est en portrait
			max-height: $project-img-max-height;
		}
		img:last-child{
			margin-bottom:0;
		}
	}
	 
	.text-column{
		font-family: $font-family-base;
		font-size: $font-size-base;
		
		/*position:fixed;*/
		float:right;
		max-width:50%;
		width:$project-text-column-width;
		margin-right:$project-text-column-right;
		margin-top:calc(-100vh + #{$project-bottom-offset});;
		/*top:$project-margin-top;*/
		
		p {
			margin-top:0;	
		}
		
		
	}
	
	.excerpt{
		
	}
	
	.infos{
		margin-top:10px;
	}
	.info-separator{
		color:$hmsphr-green;
	}
	.info{
		
	}
	.legend{
		
	}
}
