input[type="search"]{
	@include input-placeholder($text-color);
}
.search-form{
			
		}
		.search{
			display:inline;	
		}
		.search-submit{
			visibility:hidden;	
		}
		.search-input{
			border: none;
			border-left:none;
			color:$text-color;
			font-family:$font-family-head;
			font-size:$font-size-head;
		}
		.search-input:focus{
			border:none;
			outline: none;
			
}

.search-section{
	margin-top:$search-margin-top;
	
	.search-header{
		
		position:fixed;
		
		.votre-recherche{
			color:$text-color;
			font-family:$font-family-head;	
			font-size:$font-size-head;
			margin-left:$base-margin-left;
		}
		
		/*.search-input {
			animation: blink-empty 1s infinite;
			border-left: transparent solid 1px;
			margin:5px; 
		}*/
		/*@keyframes blink-empty {
			50% {border-left: 1px solid #333;}
		}*/
		
	}
		
	.search-results{
		padding-top:$search-results-padding-top;
		margin-left:$base-margin-left;
		width : $search-results-width;
		
		.labo{
			margin:0;	
		}
		
		article{
			margin-bottom:$search-result-article-padding-bottom;
		}
		.search-results-columns{
			
		}
		
		.title{
			a{
				color:$hmsphr-green;
			}
		}
		img{
			max-height:240px;
			border:$img-border;
		}
	}	
}
