.search-section{
	margin-top:220px;
	
	.search-header{
		
		position:fixed;
		left:15px;
		right:15px;
		
		.votre-recherche{
			color:$hmsphr-green;
			font-family:$font-family-head;	
			font-size:1.1em;
		}
		.search-form{
			
		}
		.search{
			display:inline;	
		}
		.search-submit{
			visibility:hidden;	
		}
		.search-input{
			border: none;
			border-left:none;
		}
		.search-input:focus{
			border:none;
			outline: none;
			
		}
		/*.search-input {
			animation: blink-empty 1s infinite;
			border-left: transparent solid 1px;
			margin:5px; 
		}*/
		/*@keyframes blink-empty {
			50% {border-left: 1px solid #333;}
		}*/
		
		hr{
			border-color: $hmsphr-green;	
			border-style: solid;
		}
	}
		
	.search-results{
		z-index:-1;
		padding-top:60px;
		
		.search-results-columns{
			@include columns(4,200px);	
			article{
				display:inline-block;
			}
		}
		
	}	
}
