/**
 * modules/fonts
 * ---
 * Declare fonts here
 */


/*
@font-face {
  font-family: "Font-Name";
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"),
    url("fonts/font-name.woff") format("woff"),
    url("fonts/font-name.ttf") format("truetype"),
    url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
*/


/******************************************************************************/
/******************************************************************************/
/* BTP Familiy */
/******************************************************************************/
/******************************************************************************/



@font-face {
    font-family: 'btpnormal';
    src: url('fonts/aa_btp-webfont.eot');
    src: url('fonts/aa_btp-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/aa_btp-webfont.woff2') format('woff2'),
         url('fonts/aa_btp-webfont.woff') format('woff'),
         url('fonts/aa_btp-webfont.ttf') format('truetype'),
         url('fonts/aa_btp-webfont.svg#btpnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'btp_modify1';
    src: url('fonts/btpmodify1-webfont.eot');
    src: url('fonts/btpmodify1-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/btpmodify1-webfont.woff2') format('woff2'),
         url('fonts/btpmodify1-webfont.woff') format('woff'),
         url('fonts/btpmodify1-webfont.ttf') format('truetype'),
         url('fonts/btpmodify1-webfont.svg#btp_modify1') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'btp_modify2';
    src: url('fonts/btpmodify2-webfont.eot');
    src: url('fonts/btpmodify2-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/btpmodify2-webfont.woff2') format('woff2'),
         url('fonts/btpmodify2-webfont.woff') format('woff'),
         url('fonts/btpmodify2-webfont.ttf') format('truetype'),
         url('fonts/btpmodify2-webfont.svg#btp_modify2') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*@font-face {
    font-family: 'btplight_rotated';
    src: url('fonts/aa_btp_light_rotated-webfont.eot');
    src: url('fonts/aa_btp_light_rotated-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/aa_btp_light_rotated-webfont.woff2') format('woff2'),
         url('fonts/aa_btp_light_rotated-webfont.woff') format('woff'),
         url('fonts/aa_btp_light_rotated-webfont.ttf') format('truetype'),
         url('fonts/aa_btp_light_rotated-webfont.svg#btplight_rotated') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'btplight';
    src: url('fonts/aa_btp_light-webfont.eot');
    src: url('fonts/aa_btp_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/aa_btp_light-webfont.woff2') format('woff2'),
         url('fonts/aa_btp_light-webfont.woff') format('woff'),
         url('fonts/aa_btp_light-webfont.ttf') format('truetype'),
         url('fonts/aa_btp_light-webfont.svg#btplight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'btprotated';
    src: url('fonts/aa_btp_rotated-webfont.eot');
    src: url('fonts/aa_btp_rotated-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/aa_btp_rotated-webfont.woff2') format('woff2'),
         url('fonts/aa_btp_rotated-webfont.woff') format('woff'),
         url('fonts/aa_btp_rotated-webfont.ttf') format('truetype'),
         url('fonts/aa_btp_rotated-webfont.svg#btprotated') format('svg');
    font-weight: normal;
    font-style: normal;

}*/





/******************************************************************************/
/******************************************************************************/
/* Anka/Coder Familiy */
/******************************************************************************/
/******************************************************************************/



@font-face {
    font-family: 'ankacoder_narrowregular';
    src: url('fonts/ankacoder-c75-r-webfont.eot');
    src: url('fonts/ankacoder-c75-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ankacoder-c75-r-webfont.woff2') format('woff2'),
         url('fonts/ankacoder-c75-r-webfont.woff') format('woff'),
         url('fonts/ankacoder-c75-r-webfont.ttf') format('truetype'),
         url('fonts/ankacoder-c75-r-webfont.svg#ankacoder_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
